/* BODY */
body {
    background-color: rgb(204, 204, 204);
    margin: 20px;
    font-family: Arial, sans-serif;
}

/* HEADINGS */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/* LIST ITEMS */
li {
    list-style-type: none;
}

/* REMOVE UNDERLINE FROM LINKS */
a {
    text-decoration-line: none;
    color: black;
}

/* UL CONTAINER STYLE */
ul {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
}

/* MEDIA PLAYER CONTAINERS */
.player_one,
.player_two {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
}

/* VIDEO & AUDIO WIDTH */
.player_one video,
.player_two audio {
    width: 100%;
}
