/*  your css code here. If applicable */
<style>
        body {
            background-color: rgb(204, 204, 204);
            font-family: Arial, sans-serif;
        }

        h1, h2 {
            text-align: center;
        }

        ul {
            border: 2px solid black;
            background-color: white;
            width: 80%;
            margin: auto;
            padding: 20px;
            border-radius: 8px;
        }

        li {
            list-style-type: none;
            margin: 5px 0;
        }

        a {
            text-decoration-line: none;
            color: black;
        }

        .player_one, .player_two {
            background-color: rgb(255, 255, 255);
            width: 80%;
            margin: 20px auto;
            padding: 20px;
            border-radius: 10px;
        }
    </style>
